<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Skin Lesion Detection</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="header">
    <div class="title">SKIN LESION DETECTION</div>
    <div class="user-controls">
      <button class="logout-button" onclick="logout()">Logout</button>
      <div class="username">{{ username }}</div>
    </div>
  </div>
  <div class="container">
    <div class="upload-box">
      <input type="file" id="image-upload" accept="image/*" max-size="20000000">
      <button onclick="processImage()">Process</button>
    </div>
  </div>
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
